<!DOCTYPE html>
<html lang="en">
<head>  
  <title>NDA</title>
</head>
<body>
  <div style="text-align:right;">Agreement Number 02023534-07</div>
  <br/>
  <br/>
  <h2>Appendix 4.7(1) - Software/Technology Nondisclosure Agreement</h2>
  <br/>
  <p>I, <strong contenteditable="true" th:text="${employeename}"></strong>, an employee/contractor (circle appropriate) for <strong contenteditable="true" th:text="${companyname}"></strong> (identify the vendor) enter into this nondisclosure agreement with AT&amp;T Services, Inc. (“AT&amp;T”) and agree to be bound by the following:</p>
  <ol>
    <li>I have been contracted by AT&amp;T either directly, or through my employer, to perform software development and maintenance for AT&amp;T.</li>
    <li>I understand that under this contract AT&amp;T may provide me access to certain encryption software and technology.</li>
    <li>I understand that AT&amp;T owns the intellectual property rights to any software and technology provided under this contract, as well as any software and technology that may be developed from it, and that my access to and use of it is exclusively for the internal company use of AT&amp;T, including development of new products for AT&amp;T.</li>
    <li>I will not re-export, re-transfer or otherwise disclose to any third party the software and technology provided to me by AT&amp;T without the prior written consent of AT&amp;T, including after the completion of my contractual duties.</li>
    <li>I am not a national (i.e., citizen or lawful permanent resident) of Cuba, Iran, Libya, North Korea, Sudan or Syria.</li>
  </ol>
  <p>Under the penalties of perjury provided by law, I declare that I have examined this document, and to the best of my knowledge and belief, it is true, correct, and complete.</p>
  <br/>
  <p><strong th:text="${employeename}"></strong></p>
  <em>Signature</em>
  <p><strong th:text="${employeename}"></strong></p>
  <em>Printed Name</em>
  <p><strong th:text="${date}"></strong></p>
  <em>Date</em>
  <br/>
  <br/>
  <br/>
  <br/>
  <footer style="font-size:12px;">
    <div style="text-align:center;"><strong>Proprietary Information</strong></div>
    <div>The information contained in this Agreement is not for use or disclosure outside AT&amp;T, Supplier, their Affiliates and their third party representatives, except under written Agreement by the contracting Parties.
    </div>
  </footer>
</body>
</html>